{% include 'grcon_header.html' %}
  <main role="main">
    {% include 'grcon_carousel.html' %}



    <div class="container-fluid marketing bg_gray">
          <div class="container marketing bg_gray learn_more_padding">


          <div class="row ">

            <div class="col-lg-12">







<div class="section__title">
<h3 class="about_title text-center">Student Registration</h3>
</div>
<div class="col-12">
<div class="am2-content">
<p>This year, there will be two levels of student registration. All students are required to submit a resume / CV, which will be provided to our student sponsors, and proof of student status, which will not be shared with anyone.</p>
<h3 class="about_title text-center">Student Presenters: Free</h3>
<p>Students presenting a talk or poster at GRCon18 can register with this ticket type. In order to register as a Student Presenter, you must do the following:</p>
<ul>
<li>Submit your presentation abstract according to the <a href={{ url_for('grcon_submit_view') }} target="_blank" rel="noopener">Call for Presentations and Papers</a></li>
<li>E-Mail your resume / CV to `grcon@gnuradio.org`</li>
<li>E-Mail proof of your student status to `grcon@gnuradio.org`</li>
<li>Purchase your “Student Presenter” registration <a href="https://www.eventbrite.com/e/gnu-radio-conference-2018-tickets-42793672025?aff=grfstudents" target="_blank" rel="noopener">on Eventbrite</a></li>
</ul>
<h3 class="about_title text-center">Student Attendee: $99</h3>
<p>This ticket type is available to all students. In order to register as a Student Presenter, you must do the following:</p>
<ul>
<li>E-Mail your resume / CV to `grcon@gnuradio.org`</li>
<li>E-Mail proof of your student status to `grcon@gnuradio.org`</li>
<li>Purchase your “Student Attendee” registration <a href="https://www.eventbrite.com/e/gnu-radio-conference-2018-tickets-42793672025?aff=grfstudents" target="_blank" rel="noopener">on Eventbrite</a></li>
</ul>
<h3 class="about_title text-center">Student Status</h3>
<p>The goal of the Student Sponsorship program is to enable students for whom the conference registration might be an undue burden to still attend and participate in GRCon. You qualify for student registration if you are in grade school, a full or part-time undergraduate, or a full-time graduate student. Professionals with full-time employment do&nbsp;<strong>not</strong> qualify for student status. Proof of enrollment may be submitted any time prior to Friday August 31st.</p>
<p>Your “proof of student status” may take one of the following forms:</p>
<ul>
<li>An official confirmation of enrollment for the Fall academic period of 2018 from your university registrar.</li>
<li>A registration transcript from your university showing course enrollment for the Fall academic period of 2018.</li>
</ul>
</div>
</div>




            </div>
          </div><!-- /.row -->
        </div>
      </div>




    {% include 'footer.html' %}
  </body>
</html>
