<div id="myCarousel" class="carousel slide carousel-padding" data-ride="carousel" data-interval="10000">

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img class="first-slide" src="https://www.gnuradio.org/assets/imgs/conference_bg_default.jpg" alt="GNU Radio Conference 2018">
      <div class="container">
        <div class="carousel-caption">
          <h1>GNU Radio Conference 2018</h1>
          <p>September 17 - 21, 2018 - Henderson Convention Center, Henderson, Nevada</p>

          <div class="grcon_carousel_btns">
          <p><a class="btn btn-lg btn-gr" href="https://www.eventbrite.com/e/gnu-radio-conference-2018-tickets-42793672025" role="button" target="_blank">Register Now</a>
          &nbsp;&nbsp;
          <a class="btn btn-lg btn-gr-inverse" href={{ url_for('grcon_about_view') }} role="button">Learn More</a></p>
        </div>
        </div>
      </div>
    </div>
