<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://www.gnuradio.org/assets/favicon.ico">

  <title>{{ siteconfig.sitename }}</title>

  <!-- Bootstrap core CSS -->
  <link href="https://www.gnuradio.org/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://www.gnuradio.org/assets/css/style.css" rel="stylesheet">
  <link href="https://www.gnuradio.org/assets/css/fontawesome-all.css" rel="stylesheet">
</head>

<body>
  <header>
    {% include 'grcon_navbar.html' %}
  </header>
