{% include 'grcon_header.html' %}
  <main role="main">
    {% include 'grcon_carousel.html' %}
    


    <div class="container-fluid marketing bg_gray">
          <div class="container marketing bg_gray learn_more_padding">


          <div class="row ">

            <div class="col-lg-12">
              
              
              

              


<div class="container clearfix">
<div class="col-12">
<div class="layout--intro-cta__stripe clearfix">
<div class="text">
<h3 class="about_title text-center">Sponsor GRCon18</h3>
<p>Our sponsors are a critical part of making GRCon successful. With a range of sponsor packages to choose from, you can pick the level that fits your goals &amp; budget. Sponsorship space is limited, so get in touch soon!</p>
</div>
<div class="text-center">
<a href="mailto:grcon@gnuradio.org" class="btn btn-gr">E-Mail Us</a>
</div>
</div>
</div>
</div>




            </div>
          </div><!-- /.row -->
        </div>
      </div>




    {% include 'footer.html' %}
  </body>
</html>

