{% include 'grcon_header.html' %}
  <main role="main">
    {% include 'grcon_carousel.html' %}
    


    <div class="container-fluid marketing bg_gray">
          <div class="container marketing bg_gray learn_more_padding">


          <div class="row ">

            <div class="col-lg-12">
              
              
              

              

<div class="section__title">
<h3 class="about_title text-center">Previous Years</h3>
</div>
<div class="col-12">
<div class="am2-content">
<p>To check out what last year’s agenda looked like, see the GRCon17 Conference Program.</p>
<p>Previous Conference Locations:</p>
<ul>



    <li>2017: San Diego, CA</li>
    <li>2016: Boulder, CO</li>
    <li>2015: Washington, D.C.</li>
    <li>2014: Washington, D.C.</li>
    <li>2013: Boston, MA</li>
    <li>2012: Atlanta, GA</li>
    <li>2011: Philadelphia, PA</li>


</ul>
</div>
</div>



            </div>
          </div><!-- /.row -->
        </div>
      </div>




    {% include 'footer.html' %}
  </body>
</html>

