{% include 'header.html' %}

<div class="container-fluid bbheader">
    <div class="bbimg">
      <div class="container">
        <span class="bbtitle">Blog</span>
      </div>
         
  </div>
  </div>
  <main role="main">

 <div class="container-fluid marketing bg_gray">
          <div class="container marketing bg_gray learn_more_padding">

           <div class="row">
            <div class="col-lg-12">
              <h2 class="text-center gr_heading learn_more"><strong>Learn About GNU Radio</strong></h2>
            </div>
          </div>

          <div class="row ">

            <div class="col-lg-12">
              test
            </div>
          </div><!-- /.row -->
        </div>
      </div>



    {% include 'footer.html' %}
  </body>
</html>

