<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="GNU Radio - The Free & Open Source Radio Ecosystem">
  <meta name="author" content="GNU Radio">

  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Home page - GNU Radio" />
  <meta property="og:description" content="&nbsp;" />
  <meta property="og:url" content="https://www.gnuradio.org/" />
  <meta property="og:site_name" content="GNU Radio" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="&nbsp;" />
  <meta name="twitter:title" content="Home page - GNU Radio" />
  <meta name="twitter:creator" content="@bhilburn" />


  <link rel="icon" href="https://www.gnuradio.org/assets/favicon.ico">

  <title>{{ data.config.sitename }}</title>

  <link href="https://www.gnuradio.org/assets/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://www.gnuradio.org/assets/css/style.css" rel="stylesheet">
  <link href="https://www.gnuradio.org/assets/css/fontawesome-all.css" rel="stylesheet">
</head>

<body>
  <header>
    {% include 'navbar.html' %}
  </header>
