{% include 'header.html' %}
  <main role="main">
    {% include 'carousel.html' %}
    {% include 'learn.html' %}
    {% include 'latest_news.html' %}
    {% include 'latest_blogs.html' %}
    {% include 'footer.html' %}
  </body>
</html>

