<div class="container-fluid marketing bg_gray">
  <div class="container marketing bg_gray">
    <h2 class="text-center gr_heading learn_more"><strong>Latest Blog</strong></h2>
    {% for row in data.blogs|sort(attribute='item.date')|reverse %}

    {% if loop.index < 4 %}
      {% if loop.index is divisibleby(2)  %}
        <div class="row featurette">
          <div class="col-md-7 order-md-2">

            {% if "external" in row.item.type %}
<a href="{{ row['item'].url }}" class="blog_link" target="_blank"><h4 class="featurette-heading">{{ row.item.title }} </h4></a>
            {% else %}
<a href="{{ url_for('get_blog', blogtitle=row['item'].full_title) }}" class="blog_link"><h4 class="featurette-heading">{{ row.item.title }} </h4></a>
            {% endif %}
            
            <h5>by {{ row.item.author }}</h5>
            <p class="lead">{{ row.item.description }}</p>
          </div>
          <div class="col-md-5 order-md-1">
            <div class="vc_container">

            {% if "external" in row.item.type %}
              <a href="{{ row['item'].url }}"><img class="featurette-image img-fluid mx-auto vc_image" src="{{ row.item.thumbnail }}"" alt="{{ row.item.title }}"></a>
            {% else %}
              <a href="{{ url_for('get_blog', blogtitle=row['item'].full_title) }}"><img class="featurette-image img-fluid mx-auto vc_image" src="{{ row.item.thumbnail }}"" alt="{{ row.item.title }}"></a>
            {% endif %}

            </div>
          </div>
        </div>
        <hr class="featurette-divider">

      {% else %}

        <div class="row featurette">
          <div class="col-md-7">
           
        {% if "external" in row.item.type %}
<a href="{{ row['item'].url }}" class="blog_link" target="_blank"><h4 class="featurette-heading">{{ row.item.title }} </h4></a>
            {% else %}
<a href="{{ url_for('get_blog', blogtitle=row['item'].full_title) }}" class="blog_link"><h4 class="featurette-heading">{{ row.item.title }} </h4></a>
            {% endif %}

            <h5>by {{ row.item.author }}</h5>
            <p class="lead">{{ row.item.description }}</p>
          </div>
          <div class="col-md-5">
            <div class="vc_container">
              

            {% if "external" in row.item.type %}
              <a href="{{ row['item'].url }}"><img class="featurette-image img-fluid mx-auto vc_image" src="{{ row.item.thumbnail }}"" alt="{{ row.item.title }}"></a>
            {% else %}
              <a href="{{ url_for('get_blog', blogtitle=row['item'].full_title) }}"><img class="featurette-image img-fluid mx-auto vc_image" src="{{ row.item.thumbnail }}"" alt="{{ row.item.title }}"></a>
            {% endif %}

            </div>
          </div>
        </div>
        <hr class="featurette-divider">
      {% endif %}

    {% endif %}

    {% endfor %}
  </div>
</div>
