<!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">

        <a class="navbar-brand" href={{ url_for('main') }}>
          <img class="logo" src="https://www.gnuradio.org/assets/imgs/gnuradio_logo_glyphs_as_paths.svg" alt="GNU Radio" width="" height="">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gr-navbar" aria-controls="gr-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="gr-navbar">
          <ul class="navbar-nav mr-auto">


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dd_events" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
              <div class="dropdown-menu" aria-labelledby="dd_events">
                <a class="dropdown-item" href={{ url_for('about_view') }}>GNU Radio</a>
                <a class="dropdown-item" href={{ url_for('about_organization_view') }}>Leadership</a>
              </div>
            </li>


            <li class="nav-item">
              <a class="nav-link" href={{ url_for('blogview') }}>Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href={{ url_for('newsview') }}>News</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dd_events" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
              <div class="dropdown-menu" aria-labelledby="dd_events">
                <a class="dropdown-item" href={{ url_for('grcon_view') }} target="_blank">GNU Radio Conference 2018</a>
                <a class="dropdown-item" href={{ url_for('eventview') }}>Other Events</a>
              </div>
            </li>



           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dd_dev" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Development</a>
              <div class="dropdown-menu" aria-labelledby="dd_dev">
                <a class="dropdown-item" href="https://github.com/gnuradio" target="_blank">github</a>
                <a class="dropdown-item" href="http://cgran.org/" target="_blank">CGRAN</a>
                <a class="dropdown-item" href="http://libvolk.org/" target="_blank">VOLK</a>


                <a class="dropdown-item" href="https://gnuradio.org/doc/doxygen/index.html" target="_blank">Manual</a>
                <a class="dropdown-item" href="https://wiki.gnuradio.org/index.php/Main_Page" target="_blank">Wiki</a>
                <a class="dropdown-item" href="https://wiki.gnuradio.org/index.php/Tutorials" target="_blank">Tutorials</a>
                <a class="dropdown-item" href="https://pubs.gnuradio.org/index.php/grcon" target="_blank">Publications</a>
                <a class="dropdown-item" href="https://www.youtube.com/channel/UCceoapZVEDCQ4s8y16M7Fng/videos" target="_blank">Videos</a>
                <a class="dropdown-item" href="https://lists.gnu.org/mailman/listinfo/discuss-gnuradio" target="_blank">Mailing List</a>
                <a class="dropdown-item" href="http://slack.gnuradio.org" target="_blank">Slack</a>
                <a class="dropdown-item" href="https://wiki.gnuradio.org/index.php/FAQ" target="_blank">FAQ</a>



              </div>
            </li>

          </ul>


        </div>

  </div>
      </nav>
