{% extends "main.j2" %}


{% block pageheader %}

  <div class="container-fluid bbheader">
    <div class="news_header_img">
      <div class="container">
        <span class="bbtitle">News</span>
      </div>
    </div>
  </div>

{% endblock %}


{% block content %}

  <div class="container-fluid marketing bg_gray">
    <div class="container marketing bg_gray learn_more_padding">
      <div class="row ">
        <div class="offset-lg-1 col-lg-9">

          {% for row in news | sort(attribute='item.date') %}
            {% import row.template as p %}

            {% if loop.index % 2  %}  

              <div class="row featurette">   
                <div class="col-md-7">   
                  <a href={{ row.url }} class="blog_link"><h4 class="featurette-heading">{{ p.title }} </h4></a>   
                  <h5>by {{ p.author }}</h5>   
                  <p class="lead">{{ p.description }}</p>   
                </div>   
                <div class="col-md-5">   
                  <div class="vc_container">   
                    <a href={{ row.url }}><img class="featurette-image img-fluid mx-auto vc_image" src={{ p.thumbnail }} alt="{{ p.title }}"></a>   
                  </div>   
                </div>   
              </div>   
           
              <hr class="featurette-divider">   
            {% else %}  

              <div class="row featurette"> 
                <div class="col-md-7 order-md-2"> 
                  <a href={{ row.url}} class="blog_link"><h4 class="featurette-heading">{{ p.title }} </h4></a> 
                  <h5>by {{ p.author }}</h5> 
                  <p class="lead">{{ p.description }}</p> 
                </div> 
                <div class="col-md-5 order-md-1"> 
                  <div class="vc_container"> 
                    <a href={{ row.url }}><img class="featurette-image img-fluid mx-auto vc_image" src={{ p.thumbnail }} alt="{{ p.title }}"></a> 
                  </div> 
                </div> 
              </div> 

              <hr class="featurette-divider"> 
            {% endif %}  
           
           {% endfor %} 
        </div>
        <div class="col-lg-2">
        </div>
      </div>
    </div>
  </div>

{% endblock %}
