{% extends "main.j2" %}

{% block pageheader %}

  <div class="container-fluid bbheader">
    <div class="bbimg">
      <div class="container">
        <span class="bbtitle">News</span>
      </div>

    </div>
  </div>

{% endblock %}


{% block content %}


  <div class="container-fluid marketing bg_gray">
    <div class="container marketing bg_gray learn_more_padding">
      <div class="row ">
        <div class="col-lg-12">

          {% include post_file %}

        </div>
      </div>
    </div>
  </div>

{% endblock %}
